@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
    font-family: 'Tilt Neon', cursive;
}

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 88px;
    top: 30px;
    width: 440px;
    height: 300px;
}

